section.expertise
  .container 
    .expertise__wrapper
      .expertise__title.row
        h2 EXPERTISE
      .expertise__subtitle.row
        h3 Lorem ipsum dolor sit amet proin gravida nibh vel velit
      .divider
      .expertise__items.row
        .expertise__item-wrapper.col-lg-4.col-6
          .img-wrapper
            img(src="icons/Expertise/1-design.png", alt="icon-design")
          .expertise__item-title WEB DESIGN & DEVELOPMENT
          .expertise__item-descr This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
        .expertise__item-wrapper.col-lg-4.col-sm-12
          .img-wrapper
            img(src="icons/Expertise/2-branding.png", alt="icon-branding")
          .expertise__item-title BRANDING IDENTITY
          .expertise__item-descr This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean. lorem40
        .expertise__item-wrapper.col-lg-4.col-sm-12
          .img-wrapper
            img(src="icons/Expertise/3-mobile.png", alt="icon-mobile")
          .expertise__item-title MOBILE APP
          .expertise__item-descr This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
        .expertise__item-wrapper.col-lg-4.col-sm-12
          .img-wrapper
            img(src="icons/Expertise/4-optimization.png", alt="icon-optimization")
          .expertise__item-title SEARCH ENGINE OPTIMIZATION
          .expertise__item-descr This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
        .expertise__item-wrapper.col-lg-4.col-sm-6
          .img-wrapper
            img(src="icons/Expertise/5-game.png", alt="icon-game")
          .expertise__item-title GAME DEVELOPMENT
          .expertise__item-descr This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
        .expertise__item-wrapper.col-lg-4.col-sm-6
          .img-wrapper
            img(src="icons/Expertise/6-love.png", alt="icon-love")
          .expertise__item-title MADE WITH LOVE
          .expertise__item-descr This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean. 
        