header.header
  .container
    .row
      nav.nav__wrapper.row
        .wrapper__logo.col-md-2.col-6
          img(src="icons/logo.png", alt="logo-icon")
          span tajam
        .wrapper__menu.col-md-7.offset-md-3.col-6
          ul.menu__items
            each val in ['HOME', 'ABOUT', 'EXPERTISE', 'TEAMS', 'WORKS', 'PEOPLE', 'SAY','CONTACT']
              li.col.menu__item
                a(href="#")=val
          .hamburger
            span 
            span 
            span
    h1.header__title We Are Awesome Creative Agency
    .divider
    .row
      .header__subtitle.col-md-10 This is Photoshop's version  of Lorem Ipsum. Proin gravidanibhvel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor,nisi elitconsequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit ametnibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
      .btn__wrapper.col-xs-2
        button.btn LEARN MORE
