section.project 
  .container
    .project__wrapper 
      .project__title 
        h2 OUR WORKS
        .wrapper 
          a(href="#")  See All Project in dribbble
            i.fa.fa-chevron-right
  .project__items
    each val in ['icons/project/1.jpg', 'icons/project/2.jpg', 'icons/project/3.jpg','icons/project/3.jpg', 'icons/project/2.jpg', 'icons/project/1.jpg', 'icons/project/1.jpg', 'icons/project/2.jpg', 'icons/project/3.jpg','icons/project/1.jpg', 'icons/project/2.jpg', 'icons/project/3.jpg']
      a(href="#" class="project-img") 
        img(src=val, alt="icon-project" class="project-img")
  .btn__wrapper.col-xs-2
      button.btn LEARN MORE
        