section.project 
  .container
    .project__wrapper 
      .project__title 
        h2 OUR WORKS
        .wrapper 
          a(href="#")  See All Project in dribbble
          .wrapper__pointer
            span 
            span 
  .project__items
    -for (let x = 0; x <= 13; x++)
      img(src='icons/project/1.png', alt="icon-project")
  .btn__wrapper.col-xs-2
      button.btn LEARN MORE