section.promo
  .container 
    .promo__wrapper.row
      .promo__play-wrapper
        .play.play__wrapper-svg
          include ../../icons/play.svg
        .play__text.play WATCH OUR STORY
      .promo__video-wrapper
        .close &times
        .wrapper 
          //- iframe( src="https://www.youtube.com/embed/KvUgaHTNit4?autoplay=1&mute=1&enablejsapi=1&fs=1&modestbranding=1" frameborder="0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen")

