
@import 'base/variables'
@import 'base/mixins'
* 
  box-sizing: border-box
  font-family: $font-family-Roboto
  font-size: 14px
  a 
    text-decoration: none
@import '../css/libs/bootstrap-grid.min.css'
@import '../css/libs/normalize.css'


@import 'blocks/header'
@import 'blocks/story'
@import 'blocks/promo'
@import 'blocks/expertise'
@import 'blocks/team'
@import 'blocks/projects'
@import 'blocks/testimonial'
@import 'blocks/form'
@import 'blocks/footer'