.project
  padding-top: 71px
  padding-bottom: 70px
  &__wrapper
    padding-bottom: 71px
  &__title
    display: flex
    justify-content: space-between
    align-items: center
    h2 
      color: $text-color
      font-family: $font-family-PlayfairDisplay
      font-size: 22px
      font-weight: 700
      text-align: left
      text-transform: uppercase
      letter-spacing: 1.1px
  &__next 
    a
      color: $text-color
      font-family: $font-family-Roboto
      font-weight: 300
      text-align: right
      letter-spacing: 0.7px
    .arrow
      &__next-wrapper
        position: relative
        height: auto
        width: auto
        align-items: center
        justify-content: space-between
        cursor: pointer
        top: -9px
        right: -182px
      &-top
        width: 9px
        height: 1px
        background: $text-color
        position: absolute
        transform: rotate(-45deg)
        top: 3px
        left: 0
        border-radius: 3px
      &-bottom
        width: 9px
        height: 1px
        background: $text-color
        position: absolute
        top: -3px
        left: 0
        transform: rotate(45deg)
        border-radius: 3px
  &__items
    display: grid
    grid-template-rows: repeat(2, minmax(100px, 200px))
    grid-template-columns: repeat(auto-fit, minmax(100px, 267px))
    grid-auto-columns: minmax(100px, 267px)
    grid-auto-rows: minmax(100px, 200px)
    justify-content: center
    max-width: 1605px
    width: 100%
    margin: 0 auto
    a
      max-height: 200px 
      max-width: 267px
      img
        width: 100%
        height: 100%
        object-fit: cover
  .btn
    margin-top: 70px
    transition: .5s all
    width: 140px !important
    &:hover
      background: #30235f
      

@media ( min-width: 320px ) and ( max-width: 992px )
  .project
    padding-top: 30px
    padding-bottom: 40px
    &__wrapper
      padding-bottom: 30px
    &__title
      flex-direction: column
    &-img
      &:nth-child(n+7)
        display: none
    .btn
      margin-top: 30px